* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: $gray-dark;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  // Padding: thêm 2 bên 15px bởi vì để màn hình nhỏ thì không bị sát 2 lề
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  display: inline-block;
  padding: 20px 45px;
  color: $gray-dark;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  line-height: normal;
  transition: all 0.2s linear;
  &--primary {
    color: white;
    background-color: $primary-color;
  }
  &--outline {
    border: 1px solid $gray-border;
    color: $gray-text;
  }
}
.text {
  font-weight: 300;
  color: $gray;
  line-height: 1.6;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 85px;
  &-caption {
    margin-bottom: 40px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0 7px;
  }
  &-caption:before {
    left: 0;
    transform: translateX(-100%) translateY(-100%);
  }
  &-caption:after {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
  &-caption:before,
  &-caption:after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: $primary-color;
    top: 50%;
  }
  &-caption--left {
    margin-bottom: 30px;
    padding-left: 32px;
  }
  &-caption--left:before {
    transform: translateY(-50%);
  }
  &-caption--left:after {
    display: none;
  }

  &-heading {
    font-size: 50px;
    line-height: 1.4;
    font-weight: 600;
    span {
      display: block;
    }
  }
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  & i:hover{
    color: $primary-color;
    cursor: pointer;
  }
  & i:not(:first-child) {
    margin-left: 40px;
  }
}
.text--dark{
  color: $gray-dark;
}
.logo{
  display: inline-block;
}
.bg{
  &-google{
    background-color:#ff7879;
  }
  &-twitter{
    background-color: #7aafff;
  }
  &-instagram{
    background-color: #ffb978;
  }
}
