.started{
    max-width: 900px;
    margin: 100px auto 70px;
    padding: 60px 20px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
    border-radius:  30px;
    &-comment{
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    &-smile{
        position: absolute;
        top:0;
        right: 0;
        transform: translate(30%,-30%);
    }
    &-caption{
        margin-bottom: 25px;
    }
    &-desc{
        max-width: 245px;
        margin-bottom: 55px;
    }
    &-heading{
        margin-bottom: 33px;
        color: $gray-dark;
    }
    
    
}
@media screen and (max-width: 767px) {
    .started{
        margin-top: 0;
    }
    .started-comment,
    .started-smile{
        max-width: 20%;
        transform: none;
    }
}