$backgroundBody: #f2f4f5;
$fontStyle:"Poppins",sans-serif;
$white: white;
$blueButton: #4c6ff4;
$colorFont: #999;
$backgroundColor: #fff;
$colorLabel: #5a5e62;
$greenButton: #81c836;
$blueHoverButton:#4d4df2;
$greenHoverButton: #66c635;